APP_NAME="Family Hub"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://familyhub.desarrollodeaplicaciones.es
APP_DOMAIN=familyhub.desarrollodeaplicaciones.es

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mongodb
DB_HOST=mongodb
DB_PORT=27017
DB_DATABASE=family_hub
DB_USERNAME=family_admin
DB_PASSWORD=CHANGE_ME_IN_PRODUCTION

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=smtp.ionos.es
MAIL_PORT=587
MAIL_USERNAME=hola@desarrollodeaplicaciones.es
MAIL_PASSWORD=CHANGE_ME
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hola@desarrollodeaplicaciones.es
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=familyhub.desarrollodeaplicaciones.es
FRONTEND_URL=https://familyhub.desarrollodeaplicaciones.es

VITE_APP_NAME="${APP_NAME}"
