@import 'tailwindcss';

@source '../**/*.blade.php';
@source '../**/*.vue';
@source '../**/*.ts';

@theme {
    --color-primary: #2196F3;
    --color-success: #4CAF50;
    --color-warning: #FF9800;
    --color-error: #F44336;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
